{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
     <link rel="icon" type="image/png" href='{%static "favicon_io/favicon-32x32.png" %}'/>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <h3 style="text-align:center">Please change your password </h3>
    <hr>


<form class="form-inline" action="/change_password" method="post">{% csrf_token %}
    <label class="mr-sm-2">Enter New password:</label>
    <input class="form-control mb-0 mr-sm-2" placeholder="Enter password" id="pass" name="pass">
    <label class="mr-sm-2">Confirm password:</label>
    <input class="form-control mb-0 mr-sm-2" placeholder="Retype password" id="cpass" name="cpass" onkeyup="validate_password()">
    <button type="submit" class="btn btn-outline-success" id="mysubmit" >confirm</button>
</form>
<p id="msg"></p>

</div>
<script>
    function validate_password(){

        pass = document.getElementById('pass').value;
        cpass = document.getElementById('cpass').value;
        console.log(cpass)

        if (pass == cpass)
            {
                document.getElementById('msg').innerHTML = ""
                document.getElementById('mysubmit').disabled = false;
            }
        else
            {
                document.getElementById('msg').style.color = "red";
                document.getElementById('msg').innerHTML = "* Password and Confirm password is not same" ;
                document.getElementById('mysubmit').disabled = true;
            }
    }
</script>
</body>
</html>